.heading{
    text-align: center;
    text-decoration:  wavy underline overline pink 5px;
    font-family: sans-serif;
    color: rgb(1, 15, 14);
    font-style: italic;
    text-transform: capitalize;
}
.Link{
    background-color: aquamarine;
}
.Link:hover{
    background-color: yellow;
    font-size: 20px;
}
table{
    border-color: red;
    width: 100%;
    text-align: center;
    font-size: 50pt;
    
}
th{
    background-color: grey;
    border: 50px;
    border-color: red;
}
th:hover{
    background-color: green;
}
td{
    background-color: blue;
}
td:hover{
    background-color: yellow;
}

.first{
    background-color: blue;
    width: 150px;
    height: 150px;
    position: relative;
    left: 40%;
    top: 60%;
}
.second{
    background-color: green;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 50% ;
    left: 50%;
}
.third{
    background-color: red; 
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 50% ;
    left: 50%;
}